<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <br><br>
    <%= respuesta %>
    <br><br>
    <a href="/quizes/question">Inténtelo de nuevo</a>
    <br><br>
  </body>
</html>
