<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <form method="get" action="/quizes/answer">
        <br><br>
        Pregunta: <%= pregunta %>
        <br><br>
        <input type="text" name="respuesta" placeholder="Responda aquí"/>
        <input type="submit" value="Enviar"/>
        <br><br>

    </form>
  </body>
</html>
